IB Support
Portal
xcdebugger
IDEDocumentationWindow.xcuserstate
IDEEditorInteractivityHistory
IDELibraryWindowController.xcuserstate
IDENamedTabStateContexts.plist
IDEPreferencesController.xcuserstate
TestReport.xcstate
Previews
